/* --- Divs --- */
.item {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--color-border-line);
}

.itemDetails {
  display: flex;
  gap: 1.4rem;
}

.imgContainer {
  width: 90px;
  height: 90px;
  border-radius: 4px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
}

.name {
  width: 120px;
  height: 24px;
  margin-bottom: 4px;
}

.unityPrice {
  width: 60px;
  height: 18px;
}

.totalPrice {
  width: 90px;
  height: 24px;
}

.quantityControl {
  width: 100px;
  height: 28px;
}

.remove {
  align-self: flex-end;
  border-radius: 4px;
  width: 24px;
  height: 24px;
}


/* --- Skeleton --- */
.media { /* Imagem do produto */
  width: 90px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  background: var(--color-skeleton);
  display: block;
  transition: opacity 200ms ease;
}

.skeleton { /* Estilo base do skeleton loading */
  position: relative;
  background: var(--color-skeleton);
  overflow: hidden;
}

.skeleton::after { /* Brilho animado do skeleton */
  content: '';
  position: absolute;
  inset: 0; /* Ocupa toda a área */
  transform: translateX(-100%); /* Começa à esquerda */
  background: linear-gradient(90deg, transparent, var(--color-skeleton-highlight), transparent);
  animation: shimmer 1.2s infinite;
}


@keyframes shimmer { /* Define a animação do skeleton */
  100% { transform: translateX(100%); } /* Move o brilho para a direita */
}


/* --- Media Queries --- */
@media screen and (max-width: 480px) {
  .item {
    flex-direction: column;
  }

  .itemDetails {
    gap: 2rem;
  }

  .controlSection {
    flex-direction: row;
    align-items: center;
  }

  .remove {
    align-self: auto;
  }
}